@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Asap|Merriweather+Sans&display=swap');

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
// color setup
$mellow: #FCB97D;
$flax: #EDD892;
$steel: #628395;
$brown: #96897B;
$white: #F7FFF7; // fonts
$asap: 'Asap', sans-serif;
$merri: 'Merriweather Sans', sans-serif;
$xsm: 1.3rem;
$sm: 1.7rem;
$big: 2.5rem;
$lg: 6rem;
$xlg: 12rem;

.wrapper {
  background: url("/dist/../img/bg.jpg") no-repeat center;
  background-size: cover;
  font-family: $asap;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 90px 180px 350px 450px;
}

.header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: $mellow;
  position: relative;
}

.header__time {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: $xsm;
}

.search {
  text-align: center;
  background: rgba(0,0,0, .6);
  padding: 70px 0;
}

.current {
  font-size: $xsm;
  padding: 30px;
  border-bottom: 3px solid $mellow;
}

.current__h2, .forecast__h2 {
  text-transform: uppercase;
  position: relative;
}

.current__h2::after,
.forecast__h2::after {
  content: '';
  position: absolute;
  width: 20%;
  max-width: 100px;
  height: 2px;
  background: $white;
  position: absolute;
  left: 20px;
  bottom: -5px;
}

.details {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

.details__weather {
  font-size: $big;
  text-transform: capitalize;
  margin-top: -10px;
}

.icon__img{
  margin-top: -30px;
  width: 40%;
  max-width: 200px;
}

.details__temp {
  font-size: $big;
  font-family: $merri;
  color: $white;
}

.forecast {
  padding: 0 20px;
  font-size: $xsm;
  overflow-x: hidden;
}

@-moz-document url-prefix() {
    .forecast {
        padding: 50px 20px;
    }
}

.day-wrapper {
  width: 500%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  transition: opacity .5s ease-in .3s, transform .1s ease-out;
}

.visible{
  opacity: 1;
}

.item {
  width: 90%;
  max-width: 400px;
  margin: auto;
  background: rgba(98,131,149, .6);
  padding: 20px 20px 1px;
  border-top-left-radius: 30px;
}

.info__day-name {
  font-size: $sm;
  color: $flax;
  margin-bottom: 10px;
  text-align: right;
}

.info__date {
  text-align: right;
  font-family: $merri;
  color: $white;
}

.item__day,
.item__night {
  text-align: center;
  margin: 10px 0;
}

.item__day {
  background: url("/dist/../icons/day.svg") no-repeat center;
  background-size: cover;
}

.item__night {
  background: url("/dist/../icons/night.svg") no-repeat center;
  background-size: cover;
}

.item__phase {
  text-transform: uppercase;
}
// Type LOCATION

.search__input {
  width: 80%;
  padding: 10px 0;
  font-size: $sm;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 3px solid $steel;
  background: transparent;
  color: $white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: border 0.5s ease-in;
}

.search__input::placeholder {
  color: $white;
  transition: transform 0.3s;
}

.search__input:focus {
  border-bottom-color: $flax;
}

.search__input:focus::placeholder {
  transform: translateY(100%) scale(0);
}
// END Type LOCATION

.footer {
  background: $brown;
  padding: 20px;
  text-align: center;
  font-family: $asap;
  font-size: $xsm;
}

.footer__name {
  font-family: $merri;
  font-weight: bold;
}
